<!DOCTYPE html>
<html>
<head>
  <title>Pinkfluffyunicorns</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <style>
<%= yield(:css) %>
  </style>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <div class="row">
    <%= yield %>
  </div>
  <div>
    
</div>

</body>
</html>
